name: Create Release

on:
  workflow_dispatch:
    inputs: 
      # Release:
      #   description: 'Would you like to create a release?'
      #   required: true
      #   default: 'No'
      #   type: choice
      #   options:
      #     - 'Yes'
      #     - 'No'
      commit:
        description: 'Commit ID to deploy'
        required: false
      version:
        description: 'Version to deploy'
        required: false
      
jobs:
  define-outputs:
    runs-on: ubuntu-latest
    outputs:
#      is_release: ${{ steps.set_outputs.outputs.is_release }}
      commit: ${{ steps.set_outputs.outputs.commit }}
      version: ${{ steps.set_outputs.outputs.version }}
    steps:
      - name: Set Outputs
        id: set_outputs
        run: |
#         echo "::set-output name=is_release::${{ github.event.inputs.is_release }}"
          echo "::set-output name=commit::${{ github.event.inputs.commit }}"
          echo "::set-output name=version::${{ github.event.inputs.version }}"
  
  call-deploy-jar:
    needs: define-outputs
    uses: ./.github/workflows/deploy-jar.yml
    with:
#      is_release: ${{ needs.define-outputs.outputs.is_release }}
      commit: ${{ needs.define-outputs.outputs.commit }}
      version: ${{ needs.define-outputs.outputs.version }}